html{
    box-sizing: border-box;
    /*1rem = 10px*/
   
}
body{
    
    overflow-x: hidden;
}
.header{
    display: flex;
    max-width: 100%;
    height: 80vh;
    position: absolute;

}
.nav{
    position: fixed;
}
#template-productos{
    display:none;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: #323230;
}
.btn{
    color: #ffd632;
}
#contenedor-productos{
    list-style: none;
}
.filtro{
    display: none;
}
.corteprin, .corteguar{
    width: 100%;
    height: 80px;
    background-color: #ffd632;
    margin-top: 20px;
    background-image: url("./img/thaiscript.png");
}

.carousel > img{
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
}
